body {
  background: #EFEFEF;
}

a p {
  color: black;
  cursor: pointer;
  font-weight: bold;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 3.5em;
  height: 30px;
  margin: 30px 0px 10px 0px;
}

header h1 {
  text-shadow: 0px 2px white;
  text-decoration: none;
  /* border-bottom: 2px solid gray; */
}

h3 {
  font-size: 1.5em;
  margin: 10px 0px;
  padding: 10px;
}

.section {
  background: #F8F8F8;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 0px 20px 20px;
  box-shadow: 0px 0px 2px #888888;
}

.section:hover {
  background: #ffffff;
  box-shadow: 0px 0px 3px 2px #B2C3D5;
}

/* DASHBOARD */
#dashboard-header {
  width: 208px;
  margin: 0 auto;
}

#content {
  width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

#content h1 {
  text-align: center;
}

#mapimg{
  width:128px;
  height:129px;
  padding: 5px;
}

.back {
  float: left;
  position: absolute;
}

#content-sidebar {
  display: inline-block;
  width: 250px;
}

#content-main {
  display: inline-block;
  width: 500px;
  vertical-align: top;
}

.fc-left {
  margin-left: 12px;
  font-weight: bold;
}

#impact-text {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

#images{
  white-space: nowrap;
}

.contact {
  display: none;
}

#contacts-mentees .mentee {
  display: none;
}

button#button-mentees {
  border-radius: 0px;
}

/* PROFILE */
#profile {
    display: inline-block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 1000px;
    margin: auto;
    background-color: #f3f3f3;
}

.constrained{
  width:inherit;
  height:100px;
  overflow-y :scroll;
}

/* NAV-BAR */
#nav-bar li{
  display:inline;

}

#dash, #user{
  float:right;
  top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

#nav{
  margin: 30px;
  margin-top: 0px;
  padding: 15px;
  top: 0px;
  height: 10px;
  width:100%;
  vertical-align:middle;

}

#nav a{
  color:black;
  font-size: 12px;

}
#nav img{
  vertical-align: middle;
}

#user{
  position:absolute;
  right: 320px;
}

#dash{
  position: absolute;
  right:150px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Calendar styles */
.fc-toolbar h2 {
  font-size: 16px;
}

.picker{
  width:94.5%;
}
