html, body, form, fieldset, legend, div, label, input {padding: 0; margin: 0;}
body {
    padding: 2em;
}
legend {
    padding-bottom: .5em;
}
div {
    float: left;
}
label {
    display: block;
    text-align: right;
    line-height: 2em;
}
span {
    display: block;
    line-height: 2em;
    margin-left: .5em;
}
