body {
  background: #EFEFEF;
}

a p {
  color: black;
  cursor: pointer;
  font-weight: bold;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  height: 30px;
  margin: 30px 0px 10px 0px;
}

header h1 {
  text-shadow: 0px 2px white;
  text-decoration: none;
  /* border-bottom: 2px solid gray; */
}


#mentees{

  text-align: center;
}

.mentees{
  padding-left: 180px;
}


h3 {
  font-size: 17px;
  margin: 10px 0px;
  padding: 10px;
}

.section {
  background: #F8F8F8;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 0px 20px 20px;
  box-shadow: 0px 0px 2px #888888;
}

.section:hover {
  background: #ffffff;
  box-shadow: 0px 0px 3px 2px #B2C3D5;
}

/* DASHBOARD */
#dashboard-header {
  width: 208px;
  margin: 0 auto;
}

#content {
  width: 800px;
  margin: 0 auto;
  border-radius: 10px;
}

#about #content {
  width: 691px;
}

/* mentees page */

#content h1 {
  text-align: center;
}

#mapimg{
  width:128px;
  height:129px;
  padding: 5px;
}

.back {
  float: left;
  position: absolute;
}

#content-sidebar {
  display: inline-block;
  width: 250px;
}

#content-sidebar #mentees-list h3 {
  text-align: center;
}

#content-main {
  display: inline-block;
  width: 500px;
  vertical-align: top;
}

#content-main h3 {
  text-align: center;
}

.fc-left {
  margin-left: 12px;
  font-weight: bold;
}

#impact-text {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}

#images{
  white-space: nowrap;
}

#contacts #content-sidebar {
  width: 175px;
}

#content-sidebar button {
  border-radius: 2px;
  width: auto;
  margin: 10px auto 0;
}

#chatroom {
  width: 150px;
  margin: 0 auto;
}

.contact {
  display: none;
  overflow: hidden;
  padding: 5px;
}

.sidepic {
  width:50px;
  height:50px;
  display: inline-block;
  vertical-align: middle;
}

.sidename p {
  display: inline-block;
  margin-left: 12px;
  text-decoration: underline;
}

#contacts-mentees {
  vertical-align: top;
}

#contacts-mentees .mentee {
  display: none;
}

#add_mentees #content-sidebar p {
  margin-bottom: 10px;
}

.mentee {
  margin-top: 10px;
}

.mentee img {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
}

.mentee-name {
  display: inline;
  font-weight: bold;
}

.mentee-text {
  display: inline-block;
  width: 300px;
}


/* PROFILE */

.constrained{
  width:inherit;
  height:100px;
  overflow-y :scroll;
}

/* NAV-BAR */
#nav {
  height: 7px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 5px 0px 5px gray;
}

#nav-bar li {
  display:inline;
  position:absolute;
  top: 2px;
}

#nav-bar li a {
  color: #666;
  font-size: 16px;
}

#nav-bar img {
  vertical-align: bottom;
}

#nav-bar a:hover {
  color: #333;
}

#nav-bar li#nav-logo a{
  font-size: 22px;
}

li#nav-logo img {
  vertical-align: middle;
}

#nav-bar #user {
  right: 200px;
  top: 5px;
}

#nav-bar #dash {
  right: 50px;
  top: 5px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* Calendar styles */
.fc-toolbar h2 {
  font-size: 16px;
}

.picker{
  width:94.5%;
}

.cal{
  margin-top:0px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  /*padding: 30px;*/
}

.butnLogin
{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    display: block;
    width: 30%;
    -webkit-appearance: button;
    overflow: visible;
    text-transform: none;
    margin: 0;
    font: inherit;
    position: relative;
    left: 35%;
    }

#content-sidebar2 {
  display: inline-block;
  width: 250px;
  font-size: 20px;
}

.logo{
  text-align: center;
}
